@{
    ViewBag.Title = "Index";
}

<h2>Кафедра</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Добро пожаловать в сервис кафедры, @User.Identity.Name! </p>
    if (User.IsInRole("Техник"))
    {
        <p style="display:inline">Чтобы начать составление плана защиты ВКР, </p> @Html.ActionLink(" нажмите сюда!", "GradWorkTest")
    }
}
else
{
    <p>Добро пожаловать в сервис кафедры! Для продолжения, пожалуйста, авторизуйтесь.</p>
}